#travel-title {
    /* Travel Consulting Service */

    position: relative;
    width: 600;
    height: 100px;

    /* H1 Header */

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    /* identical to box height, or 108% */
    display: flex;
    align-items: center;    
}

#travel-descrip {
    position: relative;
    width: 867px;
    height: 213px;
    top: 30px;

    /* Paragraph Default */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

}

li {
    padding-left: 30px;
}

.table-responsive {
    margin-top: 220px;
    margin-bottom: 40px;
    margin-left: 200px;
    margin-right: 200px;
}

table td {
   text-align: center; 
}

#disclaimer {
    font-size: 12px;
    font-weight: 300;
}

.jumbotron {
    padding: 10px;
    font-size: 23px;
}

#q {
    margin-top: 40px;

    /* H3 Header */

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    /* or 117% */

    }

#qform {
    margin-top: 30px;
    margin-bottom: 30px;
}

#firstName, #lastName, #exampleInputEmail1, #questions {
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-color: darkcyan;
}

#form-wrapper {
    margin-left: 200px;
    margin-right: 200px;
}