#travel-title {
    /* Travel Consulting Service */

    position: relative;
    width: 600;
    height: 100px;

    /* H1 Header */

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
    /* identical to box height, or 108% */
    display: flex;
    align-items: center;    
    color: #000000;
}

#travel-descrip {
    position: relative;
    width: 867px;
    height: 213px;
    top: 30px;

    /* Paragraph Default */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    color: #000000;
}

li {
    padding-left: 30px;
}

.table-responsive {
    padding-top: 250px;
    padding-bottom: 40px;
}

table th, td {
   text-align: center; 
}

.jumbotron {
    padding: 10px;
    font-size: 23px;
}

#q {
    margin-top: 40px;
}

#qform {
    margin-top: 30px;
    margin-bottom: 30px;
}