#desktop {
    /* Desktop - 1 */

    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#left {
    /* Text + Icons */

    position: absolute;
    width: 657px;
    height: 770px;
    left: 108px;
    top: 80px;
}

#right {
    /* Image */

    position: absolute;
    width: 512px;
    height: 770px;
    left: 819px;
    top: 127px;
}

#jason {
    /* Jason Tsao */

    position: absolute;
    width: 657px;
    height: 92px;
    left: 0px;
    top: 0px;
    
    /* H1 Header */
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 104px;
    /* or 108% */
    display: flex;
    align-items: center;
    letter-spacing: -3px;

    color: #000000;
    
}

#main_text{ 
    /* Main Body */

    position: absolute;
    top: 200px;
    width: 631px;
    height: 476px;
    left: 0px;

    /* Paragraph Default */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    color: #000000;
}

#icons {
    /* Icons */

    position: absolute;
    width: 229px;
    height: 40px;
    left: 0px;
    top: 830px;
}

.p {
    padding-right: 2.0em;
    color: black;
}