#wrapper {
/*     Desktop - 1 */
    position: relative;
    background: #FFFFFF;
    width: 1100px;
    margin: 0 auto;
}

#left {
    /* Text + Icons */

    position: absolute;
    top: 80px;
}

#right {
    /* Image */
    
    position: absolute;
    top: 130px;
    right: 0px;
}

#jason_title {
    /* Jason Tsao */

    position: absolute;
    width: 600px;
    height: 100px;
    padding-top: 30px;

    /* H1 Header */
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 80px;
    /* or 108% */
    display: flex;
    align-items: center;
    letter-spacing: -3px;
    color: #000000;
    
}

#main_text{ 
    /* Main Body */

    position: absolute;
    top: 200px;
    width: 600px;
    height: 500px;
    left: 0px;

    /* Paragraph Default */

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    color: #000000;
}

#icons {
    /* Icons */

    position: absolute;
    width: 600px;
    height: 40px;
    top: 720px;
}

.p {
    padding-right: 2.0em;
    color: black;
}

.footer {
    top: 500px;
}

.image:hover {
    opacity: 0.5;
}

.navbar {
  overflow: hidden;
  background-color: #fff;
  padding-top: 30px;
  margin: 0 auto 0 150px;
  height: 100px; 
  width: 900px;
}

.navbar a {
    padding-right: 6%;

/*
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
*/

  /* MINICAPS */

    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-decoration: none;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;

    color: #000000;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: darkcyan;
}

/*
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}*/
